/*@media (min-width: 992px){
	.col-md-3 {
	    width: 50%;
	}
	
}*/

figure.effect-bubba h2{
	padding-top: 7%;
}
figure.effect-bubba p{
	padding: 5px;
}
.grid figure img{
	height: 100%;
	max-width:inherit;
}
.grid figure{
	height: 200px;
}